manifest {
    name            = 'uzunm/gatk'
    description     = 'GATK germline variant-calling pipeline'
    homePage        = 'https://github.com/uzunm/gatk'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

plugins {
    id 'nf-schema@2.8.0'
}

validation {
    defaultIgnoreParams = ['container_image', 'custom_config_version', 'custom_config_base']
}

includeConfig 'conf/params.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/profiles.config'
includeConfig 'conf/base.config'

params {
    custom_config_version = 'master'
    custom_config_base    = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

// Load nf-core custom profiles from different institutions
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${new java.text.SimpleDateFormat('yyyy-MM-dd_HH-mm-ss').format(new Date())}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${new java.text.SimpleDateFormat('yyyy-MM-dd_HH-mm-ss').format(new Date())}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${new java.text.SimpleDateFormat('yyyy-MM-dd_HH-mm-ss').format(new Date())}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${new java.text.SimpleDateFormat('yyyy-MM-dd_HH-mm-ss').format(new Date())}.html"
}

profiles {
    test {includeConfig "${projectDir}/conf/test.config"}
    test_full {includeConfig "${projectDir}/conf/test_full.config"}
}
