manifest {
    name            = 'uzunm/gatk'
    description     = 'GATK germline variant-calling pipeline'
    homePage        = 'https://github.com/uzunm/gatk'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

plugins {
    id 'nf-schema@2.8.0'
}

includeConfig 'conf/params.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/profiles.config'
includeConfig 'conf/base.config'

