profiles {
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions = '--platform linux/amd64'
        process.container = params.container_image
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'normal'
            maxRetries = 2

            withName: /CREATE_GENOME_INDEX|ADD_READ_GROUPS|SORT_BAM/ {
                cpus = 2
                memory = '8 GB'
                time = '8h'
            }

            withName: /CREATE_FASTA_INDEX|CREATE_SEQ_DICT|INDEX_BAM|CREATE_GVCF_LIST/ {
                cpus = 1
                memory = '4 GB'
                time = '4h'
            }

            withName: /ALIGN_READS/ {
                cpus = 8
                memory = '16 GB'
                time = '12h'
            }

            withName: /CALL_VARIANTS/ {
                cpus = 8
                memory = '24 GB'
                time = '24h'
            }

            withName: /CONSOLIDATE_GVCFS/ {
                cpus = 8
                memory = '32 GB'
                time = '24h'
            }

            withName: /GENOTYPE/ {
                cpus = 8
                memory = '24 GB'
                time = '12h'
            }
        }
    }

    test {
        includeConfig 'test.config'
    }
}
